<h3>Live Content</h3>

<ul>
    <li><a href="/code">Code of Conduct</a></li>
    <li>Twitter & Flickr Tag: <a href="https://twitter.com/search?q=%23hacksi">#hacksi</a></li>
    <li><a href="http://twitter.com/hacksi">@hacksi</a></li>
</ul>

