<p>Dear Potiential Sponsor,</p>

<p>HackSI invites you to become a sponsor for our current event.</p>

<p>The primary source of funding for HackSI is from corporate sponsors, such as yourself. HackSI receives no governmental funds.</p>

<p>This exciting event will be held November 2nd from 10a-10p at the Dunn Richmond Center in Carbondale. 
It is the first ever Southern Illinois Hackathon and we look forward to providing this to the geeks of Southern Illinois.</p>

<p>Your sponsorship will help assure the success of HackSI. You may find more information on this exciting event on this website and its sponsorship levels. Please do not hesitate to contact us with any questions or concerns. We look forward to speaking with you at your earliest convenience.</p>

<p>
Sincerely,<br>
Hack SI Organizational Committee<br>
<a href="mailto:sponsors@hacksi.me">sponsors@hacksi.me</a><br>
<a href="http://hacksi.me/">http://hacksi.me/</a>
</p>
