<!doctype html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>hacksi.me</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/css/social-icons.css ">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
    <ul>
        <li class="pure-menu-selected"><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/twitter" class="social-icon-twitter"> HackSI</a></li>
    </ul>
</div>

<div class="banner">
    <div class="banner-head">
        <div class="pure-g">
            <div class="pure-u-1-5">
                <img src="/img/logo.png">
            </div>
			<div class="registerPointer"></div>
            <div class="pure-u-4-5">
                <h1>In 12 hours what<br>
                can you build?</h1>
                <div class="pure-g">
                    <div class="pure-u-1-2 date-loc">
                    <span class="date">NOV 2nd 2013 10am-10pm</span><br>
                    <a class="location" href="http://goo.gl/maps/Ppm6U" target="_blank">Dunn-Richmond Center - Carbondale, IL</a>
                    </div>
                    <div class="pure-u-1-2">
                        <a href="/register" class="pure-button">Register Today</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{{body}}}

<!--div class="sponsors">
    <div class="pure-g-r">
        <div class="pure-u-1-5">S1</div>
        <div class="pure-u-1-5">S1</div>
        <div class="pure-u-1-5">S1</div>
        <div class="pure-u-1-5">S1</div>
        <div class="pure-u-1-5">S1</div>
    </div>
</div-->

<div class="footer">
    <div class="pure-g">
        <div class="pure-u-1-4">&copy; 2013 - Hack SI - All rights reserved.</div>
        <div class="pure-u-3-4 social">
            Follow us on: 
            <a href="http://twitter.com/hacksi" class="social-icon-twitter" title="Twitter"><span>Twitter</span></a>
            <a href="https://github.com/HackSI" class="social-icon-github" title="Github"><span>Github</span></a>
            <a href="https://www.facebook.com/HackSouthernIllinois" class="social-icon-facebook" title="Facebook"><span>Facebook</span></a>
            <a href="http://www.flickr.com/groups/hacksi/" class="social-icon-flickr" title="Flickr"><span>Flickr</span></a>
        </div>
    </div>
</div>
</body>
</html>
