
<div class="content">
    <h2>About Us</h2>

    <p>HackSI is a yearly event held at the Dunn-Richmond Center on the SIU campus in Carbondale, IL. The event
    started in 2013 as an attempt to show that Southern Illnois has access to world class technology. Since it's
    inception, HackSI has grown into a vibrant community of more than 250 hackers aged 7 to 70.</p>

    <p>The HackSI Foundation is a registered not for profit in the state of Illinois as of December 2016. 
    We are currently working to fulfill the requirements for federal 501(c)3 status. Visit our <a href="/board">board page</a> for
    more information.</p>

    <h2>Isn't Hacking Bad?</h2>

    <p>As with any other term in the Eglish language, there is more than one definition for the word <b>hacker</b>. This
    definition from Merriam-Webster is the one that we prefer:</p>

    <blockquote>
        <p>an expert at programming and solving problems with a computer</p>
    </blockquote>

    <p>Basically, we look at "hacking" as:</p>

    <blockquote>
        <p>Taking two things that aren't meant to work together and making them work together in a way 
        that has never been done before.</p>
    </blockquote>

<h2>What is a hackathon?</h2>
<p>
<img src="/static/img/hackday.jpg" align="right" vspace="2" hspace="2">
A hackathon (also known as a hack day, hackfest or codefest) is an event in which computer programmers and others involved in software development, including graphic designers, interface designers and project managers, collaborate intensively on software projects. Occasionally, there is a hardware component as well. Hackathons typically last between a day and a week in length. Some hackathons are intended simply for educational or social purposes, although in many cases the goal is to create usable software. Hackathons tend to have a specific focus, which can include the programming language used, the operating system, an application, an API, the subject and the demographic group of the programmers. In other cases, there is no restriction on the type of software being created.
</p>

<h2>How it works</h2>

<p>The hackers get 24 ours to come up with their idea, build a working prototype and then present it to a room full of geeks 
that actually understand what they have built. It doesn't matter what they build, the important part is that they learned something while
doing it. We've had past winners that had never programmed anything before and ended up building one of the best hacks of the day.</p>

<p>
More information can be found here on <a href="/faq">our FAQ</a> and on the <a href="http://en.wikipedia.org/wiki/Hackathon">Wikipedia page</a> where this content originated.
</p>

</div>
