<p>Jacob Morton is a veteran of the HackSI events having been a volunteer and mentor every year since its inception.</p>

<p>His interests in technology was sparked at a very young age, but the true journey didn't begin until he received his first book on programming
at the age of fourteen. With a passion for puzzles, data sets, and robotics he continued down the path of self learning with the help of some friends and mentors along the way.</p>

<p>Eventually Dav Glass became one of those friends and mentors; with his direction Jacob became involved with various aspects of the local 
and open source technology communities. This led to working with HackSI where Jacob found he had a passion for teaching.</p>

<p>Over the next few years of volunteering with HackSI, Jacobs knowledge base increased tenfold causing a local HackSI sponsor to take
notice of his work. Shortly after the third year event he was offered a job at Liaison Technologies where he continues to work as an Integration Analyst.</p>
