<p>Andrew Wilson is currently serving as an Assistant State's Attorney in Williamson County.</p>

<p>He has also worked as a Public Defender in Williamson County, as well as in private practice representing clients in civil litigation.</p>

<p>He is a 2004 graduate of the University of Illinois at Urbana-Champaign and is a 2007 graduate of the SIU School of Law. He and his wife Amy were married in 2011 and have four children.</p>

