<p>Dav Glass is a Distinguished Architect for Verizon (formerly Yahoo), and has been at the company for over 13 years.</p>

<p>Currently he is the Lead Architect for their Infrastructure as a Service engineering group working with OpenStack and helping
to automate their global Data Centers.<p>

<p>He also works with various teams across Verizon with their NodeJS applications and deployments, as well as other Open Source initiatives to help their developers give away and contribute to Open Source Software.</p>

<p>Outside of work, he coaches 3 FIRST robotics teams at a local High School and runs HackSI. He also loves to teach people of all ages and backgrounds to hack on drones and other open source hardware.</p>

<p>He is also an avid motorcyle fan and loves to travel with his son on their Harley-Davidson motorcycles.</p>

<p>In his spare time he loves to spend time working in his woodshop mixing old school wood working with technology.</p>
