<p>Bonnie Kucharski runs the Managed Services Team, a core underpinning of Liaison’s offerings.</p>
<p>Prior to joining Liaison in 2011, Bonnie held strategic positions within the technology sector at organizations including 3Com Corporation (formerly US Robotics).</p>
<p>Bonnie has a Master of Arts degree in Organization Management from Ashford University and a Bachelor of Arts degree in Business Management from DePaul University.</p>
<p>She is also a certified Project Management Professional (PMP).</p>
