<div class="content">
<h2>Quinten Bowen</h2>
<a href="https://www.linkedin.com/profile/view?id=350435775">LinkedIn</a>

<h3>Networking within the Community</h3>

<p>
<img src="/img/bowen.jpg" vspace="10" hspace="10" align="right" width="200px">
Networking within your community has many benefits: it benefits those actively involved, those seeking advice from the community and it allows the sharing of knowledge and skills. Networking with one another furthers the tech community and helps establish relationships that can be very tangible on a business and personal level. Together we can achieve goals that may not have been reachable and push the tech community to higher levels.
</p>
<p>
I'm Computer Forensics major at John A Logan. I'm currently an active member on the schools first Collegiate Cyber Defense team the Logan Defenders. I hope to use the experience from the CCDC to better my knowledge and skills in network security.
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
