<div class="content">
    <h2>Contact the Organizers</h2>

    <div class="pure-g organizers">
        <div class="pure-u-1-2">
            <h3>Dav Glass</h3>
            <img src="https://si0.twimg.com/profile_images/378800000104640626/1a4904c82ee9721b28e14b97ae9630fa_bigger.jpeg"><br>
            <a href="http://twitter.com/davglass">@davglass</a><br>
            <a href="mailto:davglass@hacksi.me">davglass@hacksi.me</a>
        </div>
		<div class="pure-u-1-2">
            <h3>Darryl Jones</h3>
            <img src="https://si0.twimg.com/profile_images/69644954/darryl_bigger.jpg"><br>
            <a href="http://twitter.com/splatteredink">@splatteredink</a><br>
            <a href="mailto:darryl@hacksi.me">darryl@hacksi.me</a>
        </div>
    </div>
</div>
