<div class="content">
    <h2>Contact the Organizers</h2>

    <div class="pure-g organizers">
        <div class="pure-u-1-2">
            <h3>William Blankenship</h3>
            <img src="https://pbs.twimg.com/profile_images/457653140859256832/3vdb01Fn_200x200.jpeg"><br>
            <a href="http://twitter.com/wblankenship">@wblankenship</a><br>
            <a href="mailto:william.jblankenship@gmail.com">william.jblankenship@gmail.com</a>
        </div>
		    <div class="pure-u-1-2">
            <h3>Darryl Jones</h3>
            <img src="https://pbs.twimg.com/profile_images/69644954/darryl_200x200.jpg"><br>
            <a href="http://twitter.com/splatteredink">@splatteredink</a><br>
            <a href="mailto:darryl@hacksi.me">darryl@hacksi.me</a>
        </div>
    </div>
    <div class="pure-g organizers">
        <div class="pure-u-1-2">
            <h3>Shannon Wahaib</h3>
            <img src="https://pbs.twimg.com/profile_images/502871873018150912/JpZvlhbj_200x200.jpeg"><br>
            <a href="http://twitter.com/SWahaib">@SWahaib</a><br>
        </div>
		    <div class="pure-u-1-2">
            <h3>Jacob Morton</h3>
            <img src="https://pbs.twimg.com/profile_images/505030680049229824/uoUzlRdd_200x200.jpeg"><br>
            <a href="http://twitter.com/Mkoopajr">@Mkoopajr</a><br>
            <a href="mailto:mkoopajr@gmail.com">mkoopajr@gmail.com</a>
       </div>
    </div>
</div>
