<div class="content">
    <h2>Contact the Organizers</h2>

    <div class="pure-g organizers">
        <div class="pure-u-1-2">
            <h3>Dav Glass</h3>
            <img src="/static/img/contact/dav.jpg"><br>
            <a href="http://twitter.com/davglass">@davglass</a><br>
            <a href="mailto:davglass@hacksi.org">davglass@hacksi.org</a>
        </div>
        <div class="pure-u-1-2">
            <h3>William Blankenship</h3>
            <img src="/static/img/contact/will.jpg"><br>
            <a href="http://twitter.com/wblankenship">@wblankenship</a><br>
            <a href="mailto:will@hacksi.org">will@hacksi.org</a>
        </div>
    </div>
    <div class="pure-g organizers">
		<div class="pure-u-1-2">
            <h3>Darryl Jones</h3>
            <img src="/static/img/contact/darryl.jpg"><br>
            <a href="http://twitter.com/splatteredink">@splatteredink</a><br>
            <a href="mailto:darryl@hacksi.org">darryl@hacksi.org</a>
        </div>
        <div class="pure-u-1-2">
            <h3>Jacob Morton</h3>
            <img src="/static/img/contact/jacob.jpg"><br>
            <a href="http://twitter.com/Mkoopajr">@Mkoopajr</a><br>
            <a href="mailto:jacob@hacksi.org">jacob@hacksi.org</a>
        </div>
    </div>
</div>
