<div class="content">
<h2>Ellen Jahn</h2>
<a href="https://twitter.com/llishi">@llishi</a>

<h3>War Stories from the Web Trenches</h3>

<p>
War stories from inside a data driven e-commerce web application.  A case study on the implementation of online payments for circuit court traffic tickets and court fines on <a href="http://www.judici.com">www.judici.com</a>.  A look at the planning process, network infrastructure, technologies and collaboration required to create and maintain online court data for Illinois Circuit Clerks.
<br><br>
Ellen Jahn is currently technical director of Carbondale Elementary School District 95. From 2006-2009 she was a software specialist for <a href="http://www.judici.com">www.judici.com</a>, a website for Illinois Circuit Courts. She has a MA in Telecommunications from SIU.
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>

