<div class="content">

<h2>FAQ</h2>

<h3>Are there ID requirements or an age limit to enter the event?</h3>

<p>All participants must fill out all of the registration documents <a href="/registration/forms">located here</a></p>

<p>If that participant is under the age of 18, their parent/legal guardian must also sign the forms and return them to the registration desk at the time of the event. Participents will not be allows access to the event without a signed consent form.</p>

<p><b>Important change from previous years!</b> Children under the age of 13 <b>must have</b> a parent/guardian present throughout the entire event! We do not have enough volunteers to handle unattended children at the event.</p>

<h3>Who can participate?</h3>

<p>Anyone can participate in the event no matter your skill level. Teams often form around specific ideas conceived at the event.</p>

<h3>What can/can't I bring to the event?</h3>

<p>You should bring your own laptops, hardware, parts &amp; accessories that you will need to complete your hack. Some hardware and laptops may be available to use for those that do not have access to their own. Desktop computers are allowed, but discouraged due to space &amp; power limitations of the facility.</p>

<h3>Where can I contact the organizer with any questions?</h3>

<p>You can contact the organizers <a href="/contact">here.</a>

<h3>What sorts of things are ok to do on the network?</h3>

<p>SIU acceptable use policy must be followed at HackSI. More information can be found on that <a href="http://oit.siu.edu/policies/siu-network/acceptable-use-policy.php" target="_blank">here</a>.

</div>
