<div class="content">

<h2>FAQ</h2>

<h3>Are there ID requirements or an age limit to enter the event?</h3>

<p>All participants must fill out all of the registration documents <a href="/registration/forms">located here</a></p>

<p>If that participant is under the age of 18, their parent/legal guardian must also sign the forms and return them to the registration desk at the time of the event. Participents will not be allows access to the event without a signed consent form.</p>

<h3>Who can participate?</h3>

<p>Anyone can participate in the event no matter your skill level. Teams often form around specific ideas conceived at the event.</p>

<h3>What can/can't I bring to the event?</h3>

<p>You should bring your own laptops, hardware, parts &amp; accessories that you will need to complete your hack. Some hardware and laptops may be available to use for those that do not have access to their own. Desktop computers are allowed, but discouraged due to space &amp; power limitations of the facility.</p>

<h3>Where can I contact the organizer with any questions?</h3>

<p>You can contact the organizers <a href="/contact">here.</a>

</div>
