<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
              <h1>Updates</h1>
              <p>Check back here often for updates about the event!</p>
              <p>Registration coming soon!</p>
              <p>In the meantime check out the press from previous events <a href="http://www.hacksi.me/press" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">hacksi.me/press</a>.
            </div>
         </div>
    </div>
</div>
<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
                <h1>Important Information</h1>
                <h3>Times, locations, and food</h3>
                <p>
                    HackSI is located at the <a href="https://goo.gl/maps/KvMqr" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">Dunn Richmond Center</a> on SIUC's campus. It runs from 9am to 9pm  on Saturday, November 7th and 9am to 9pm on Sunday, November 8th. There will be no overnight this time around. For the complete schedule, check out: <a href="http://www.hacksi.me/schedule" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">hacksi.me/schedule</a>.
                </p>
                <h1>Get the most out of your weekend!</h1>
                <p>
                    So you have registered for HackSI, blocked off the weekend to do some awesome hacking, and may have even started planning your hack. You may be wondering what the experience will be like, what you will need to bring, if there will be food, etc. Don't worry, this will explain everything you need to know to get the most out of your weekend hacking experience!
                </p>
            </div>
        </div>
    </div>
</div>
