<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
                    <h1>Get the most out of your weekend!</h1>
                    <p>
                        So you have registered for HackSI, blocked off the weekend to do some awesome hacking, and may have even started planning your hack. You may be wondering what the experience will be like, what you will need to bring, if there will be food, etc. Don't worry, this email will explain everything you need to know to get the most out of your weekend hacking experience!
                    </p>
                    <h1>Important Information</h1>
                    <h3>Times, locations, and food</h3>
                    <p>
                        HackSI is located at the <a href="https://goo.gl/maps/KvMqr" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">Dunn Richmond Center</a> on SIUC's campus. It starts at 6:00PM on Friday, January 30th and runs until 6:00PM on Sunday, February 1st. There will be 6 meals provided at no cost and snacks will be available during the entire event. For the complete schedule, check out: <a href="http://www.hacksi.me/schedule" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">hacksi.me/schedule</a>
                    </p>
                    <h1>The Essentials</h1>
                    <h3>What you will need to bring</h3>
                    <ul>
                        <li>
                        <strong>Laptop</strong>- You will need a laptop. If you don't own one, don't fret, we will hook you up with one at the event! (we have a limited number available on a first come first serve basis).
                        </li>
                        </br>
                        <li>
                        <strong>Sleeping Bag, Pillow, etc.</strong>- If you plan on staying for the entire 48 hour event, you will need some sleeping equipment. We have a room setup specifically for you to get some shuteye.
                        </li>
                        </br>
                        <li>
                        <strong>Hacking Equipment</strong> - If your planned hack requires any special equipment, you will need to bring it! Toasters, soccer balls, garage door openers, anything you have access to is fair game for a hack! (please get the owner's permission before making any permanent modifications to property)
                        </li>
                        </br>
                        <li>
                        <strong>Enthusiasm</strong> - Yes, its cheesy, but this event becomes what you make it! Come prepared to make some new friends, build some cool things, and have a great time!
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>

<h1 class="title">Competition Categories</h1>

<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1-2 pure-u-md-1-2">
            <div class="l-box">
                <img src="/img/internetofthings.jpg" width="400">
                <h2>Internet of Things</h2>
                <p>
                    The sky is the limit with this catagory. Use microcontrollers to connect physical things to the digital world. In order to compete in this event, you will need to bring your own things to digitize. For more information, <a href="http://goo.gl/40zIxI" target="_blank" style="word-wrap: break-word;-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;color: #6DC6DD;font-weight: normal;text-decoration: underline;">visit this page</a>
                </p>
                </br>
                <p>
                    1st Place Prize: Google Glass
                </p>
            </div>
        </div>

        <div class="pure-u-1-2 pure-u-md-1-2">
            <div class="l-box">
                <img src="/img/hardware.jpg" width="400">
                <h2>Hardware</h2>
                <p>
                    Everything from robotics to sensors. Hardware hacks usually use micro-controllers, sensors, LEDs, etc. to solve a problem or create a piece of art. We will have a few micro-controllers available, first-come first-serve.
                </p>
                </br>
                <p>
                    1st Place Prize: $50 Namecheap credit
                </p>
            </div>
        </div>
    </div>
</div>

<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1-2 pure-u-md-1-2">
            <div class="l-box">
                <img src="/img/mobile.jpg" width="400">
                <h2>Moblie Development</h2>
                <p>
                    Build the next killer app. iOS, Android, Blackberry, Windows, or any other mobile device is fair game! 
                </p>
                </br>
                <p>
                    1st Place Prize: Android Tablet
                </p>
            </div>
        </div>

        <div class="pure-u-1-2 pure-u-md-1-2">
            <div class="l-box">
                <img src="/img/webdev.jpg" width="400">
                <h2>Web Development</h2>
                <p>
                    Build a website that fills a need. From redesigning your school website to creating a new online shopping experience, anything is possible!
                </p>
                </br>
                <p>
                    1st Place Prize: $50 Namecheap credit
                </p>
            </div>
        </div>
    </div>
</div>
