<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
	    	<h1>HackSI 2020 - Cancelled</h1>
		<p>The HackSI crew are saddened to report that HackSI 2020 has been cancelled due to the ongoing pandemic. With the current restrictions in place and many of our sponsors businesses suffering we feel we can not safely hold an in-person event this year. We are currently considering a virtual version of HackSI, but nothing is set in stone yet. We will update you as soon as we know more. Apologies for the cancellation, the crew will miss seeing you all.</p>
	    	<h1>HackSI and making COVID-19 face shields</h1>
		<p>HackSI is currently <a href="https://www.gofundme.com/manage/covid19-face-shields-for-southern-illinois">raising money</a> to make free face shields available to all healthcare workers in Southern Illinois. We are dedicating all of our lasers to cutting this protective gear. If you are in need of this free gear, please send us a <a href="/facebook">Facebook Message</a> or contact <a href="https://www.facebook.com/davsgaragepage/">Dav's Garage</a> and we will get them to you as soon as we possibly can.</p>
		<p>In true HackSI fashion, we are also <a href="https://www.davsgarage.com/2020/04/04/covid19-faceshields/">releasing all of the plans and materials</a> for these shields so that others around the world can do the same thing.</p>
                <h1>HackSI 2020 is scheduled!!</h1>
		<p>HackSI 2020 will be held on 11/7 &amp; 11/8 in 2020. We are currently raising sponsorships and funding to allow the event to continue.</p>
                <h2>Volunteering</h2>
                <p>If you would like to volunteer for the 2019 event, please register above but select the volunteer ticket instead of a normal ticket.</p>
                <h2>HackSI Shop</h2>
                <p>Want to show off your love for HackSI? <a href="/shop">Check out all the cool swag in our new shop</a>!</p>
                <p><b>Important change from previous years!</b> Children under the age of 13 <b>must have</b> a parent/guardian
                present throughout the entire event! We do not have enough volunteers to handle unattended children at the event.</p>
                <h2>Important! If you are attending HackSI check out this <a href="/register/forms">page</a>! You must have the forms filled out and adhere to the code of conduct!</h2>
                    <p>In the meantime check out the press from previous events <a href="/press">hacksi.org/press</a> or you can check out our <a href="/faq">FAQ</a>.</p>
                    <p>All SIU IT policies and procedures must be followed at HackSI. This information can be found <a href="https://oit.siu.edu/about/policies/" target="_blank">here</a>
                
                <!--h2>HackSI Wallpaper</h2>
                <p>Looking for the awesome HackSI wallpaper we launched at our last event? Click on an image below!</p>
                <div class="pure-g">
                    <div class="pure-u-1-2"><center><a href="/wallpaper"><img src="/static/img/wallpaper/2018-rgb-center.jpg"></a></center></div>
                    <div class="pure-u-1-2"><center><a href="/wallpaper"><img src="/static/img/wallpaper/2018-pg-center.jpg"></a></center></div>
                </div-->
            </div>
         </div>
    </div>
</div>
<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
                <h1>Get the most out of your weekend!</h1>
                <p>
                    So you have registered for HackSI, blocked off the weekend to do some awesome hacking, and may have even started planning your hack. You may be wondering what the experience will be like, what you will need to bring, if there will be food, etc. Don't worry, this will explain everything you need to know to get the most out of your weekend hacking experience!
                </p>
            </div>
        </div>
    </div>
</div>
