<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
                <h1>HackSI 2019 registration is open!!</h1>
                <p><a href="/register">Registration for HackSI 2019 is open, so get your ticket in now</a>!</p>
                <h2>Volunteering</h2>
                <p>If you would like to volunteer for the 2019 event, please register above but select the volunteer ticket instead of a normal ticket.</p>
                <h2>HackSI Shop</h2>
                <p>Want to show off your love for HackSI? <a href="/shop">Check out all the cool swag in our new shop</a>!</p>
                <p><b>Important change from previous years!</b> Children under the age of 13 <b>must have</b> a parent/guardian
                present throughout the entire event! We do not have enough volunteers to handle unattended children at the event.</p>
                <h2>Important! If you are attending HackSI check out this <a href="/register/forms">page</a>! You must have the forms filled out and adhere to the code of conduct!</h2>
                    <p>In the meantime check out the press from previous events <a href="/press">hacksi.org/press</a> or you can check out our <a href="/faq">FAQ</a>.</p>
                    <p>SIU acceptable use policy must be followed at HackSI. This information can be found <a href="http://oit.siu.edu/policies/siu-network/acceptable-use-policy.php" target="_blank">here</a>
                
                <!--h2>HackSI Wallpaper</h2>
                <p>Looking for the awesome HackSI wallpaper we launched at our last event? Click on an image below!</p>
                <div class="pure-g">
                    <div class="pure-u-1-2"><center><a href="/wallpaper"><img src="/static/img/wallpaper/2018-rgb-center.jpg"></a></center></div>
                    <div class="pure-u-1-2"><center><a href="/wallpaper"><img src="/static/img/wallpaper/2018-pg-center.jpg"></a></center></div>
                </div-->
            </div>
         </div>
    </div>
</div>
<div class="l-content">
    <div class="pricing-tables pure-g-r">
        <div class="pure-u-1 pure-u-lg-1-1">
            <div class="l-box">
                <h1>Get the most out of your weekend!</h1>
                <p>
                    So you have registered for HackSI, blocked off the weekend to do some awesome hacking, and may have even started planning your hack. You may be wondering what the experience will be like, what you will need to bring, if there will be food, etc. Don't worry, this will explain everything you need to know to get the most out of your weekend hacking experience!
                </p>
            </div>
        </div>
    </div>
</div>
