<div class="content">
    <h2 id="live">Hack SI Live</h2>

    <div class="pure-g">
        <div class="pure-u-1-2">
        {{> counter }}
        <h3>Need Help?</h3>
        <p>Send out a tweet with <strong>#hacksi #needhelp</strong> and someone will get back to you.</p>
        </div>
		<div class="pure-u-1-2">
        {{> twitter }}
        </div>
    </div>
</div>
<script>
if (location.hash != '#live') {
    location.href = location.href + '#live';
}
</script>
