<div class="content">
<h2>Jeremy Packer</h2>
<a href="http://www.lifeatsouthern.com/">lifeatsouthern.com</a> - <a href="https://www.twitter.com/JeremyPackerDX">@JeremyPackerDX</a>

<h3>Innovation in Southern Illinois</h3>

<p>
<img src="/img/packer.jpg" vspace="10" hspace="10" align="right" width="200px">
&nbsp;
</p>
<p>
&nbsp;
</p>
<p>
&nbsp;
</p>

<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
