<div class="content">
<h2>Jeremy Packer</h2>
<a href="http://www.lifeatsouthern.com/">lifeatsouthern.com</a> - <a href="https://www.twitter.com/JeremyPackerDX">@JeremyPackerDX</a>

<h3>Innovation in Southern Illinois - Breaking Norms</h3>

<p>
<img src="/img/packer.jpg" vspace="10" hspace="10" align="right" width="200px">
A current Computer Science Student and Founder of Life at Southern will talk about his experiences of being a young founder in Southern Illinois. After the mobile app was born out of the 2014 Saluki App Competition they joined Saluki Ventures and have released native versions on both Android and IOS since. They are pursuing expansion to other markets in Fall 2015.
</p>
<p>
I’m an aspiring Software Engineer, entrepreneur, app developer and founder of Life at Southern. I’m a Senior in Computer Science, a native to the Southern Illinois Area and I believe technology is our generations tool to fix the world.
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
