<div id="release">
    <h1>HackSI is back for its 10th anniversary!</h1>
    <p>
    For immediate release.
    </p>
    <p>
    This years event is on Saturday November 4th &amp; Sunday November 5th from 8 a.m. to 8 p.m. each day at the
    Dunn-Richmond Center located at 1740 Innovation Drive in Carbondale.
    </p>
    <p>
    HackSI has been holding its annual tech event on the SIU campus in Carbondale since 2013. Hundreds of people
    from all around Southern Illinois have attended in the past and hundreds more are planning to attend this
    years event.
    </p>
    <p>
    HackSI is a "hackathon", its main goal is to use technology to spread knowledge throughout Southern Illinois. 
    Showing people that we have lots of tech innovation here and they can learn all about it in our specialized areas. 
    </p>
    <p>
    The event is 2 12-hour days, each participant gets a swag bag, shirt and are fed the entire weekend. AND the event is FREE to the attendees! They start about 8a on Saturday and go until 8p, then come back at 8a Sunday. We start the "presentations" at about 4-5p on Sunday. These presentations are a way for these attendees to get up in front of a room of fellow geeks and show off what they built over the weekend. It's a great way for these kids to stand up and be proud of what they accomplished! We also give out prizes to the top 3 projects as decided by a panel of judges.
    </p>
    <p>
    We have areas specifically for showing people how to fly drones, we also teach them to program them to make them run
    by themselves. We have rooms dedicated to 3d printers, we show them how to design and print things they never knew 
    possible. We also partner with the Marion High School Robotics club and have them come in and teach people all 
    about their robots as well as building their own robots as well. We also have a large selection of programmable 
    computer parts that show them how to build their own custom systems with lights, motors, etc 
    (not a desktop computer but more of an Internet of Things computer). We even go as far as teaching them how to solder!
    </p>
    <p>
    We look forward to seeing you there!
    </p>
    <p>
    HackSI Inc<br>
    <a href="https://hacksi.org/">https://hacksi.org/</a><br>
    <a href="mailto:contact@hacksi.org">contact@hacksi.org</a>
    </p>
</div>
<style>
p {
    font-size: x-large;
}
</style>
