<div class="content">
<h2>HackSI in the Press</h2>

<h3><a href="http://thesouthern.com/news/local/hackers-invited-to-let-loose-at-siu/article_0b27b2e4-3df5-11e3-9f32-001a4bcf887a.html">The Southern | Hackers invited to let loose at SIU</a></h3>
<p>Oct 26, 2013 ... Got 12 hours to spare? What can your imagination come up with in that amount of time? The biggest question is can you use a computer to build the thought within your mind?</p>
<p>Dav Glass and Darryl Jones, organizers of the Hack SI hackathon, encourage individuals of all technological talent to come out because it could be a great learning opportunity or a chance to show off skills from 10 a.m. to 10 p.m. Nov. 2 at Dunn-Richmond Center in Carbondale.</p>


<h3><a href="http://news.siu.edu/2013/10/101513cjm13126.html">Saluki Times | 'Hackathon' designed to inspire innovation</a></h3>
<p>
Oct 15, 2013 ... There is no cost to participate but only the first 100 to pre-register at www.hacksi.me/ will get a T-shirt. Walk-ins are welcome, too. Glass ...
</p>
</div>
