<div class="content">
    <h2>All participants must fill out these <a href="/register/forms/pdf" target="_blank">forms</a>!</h2>
    <p>If participant is under the age of 18, their parent/legal guardian must
    also sign the forms and return them to the registration desk at the time of
    the event. Participants will not be allowed access to the event without a
    signed consent form.</p>

    <h3>What can/can't I bring to the event?</h3>
    <p>You may bring your own laptops, hardware, parts & accessories that you
    will need to complete your hack. Desktop computers are allowed, but discouraged
    due to space & power limitations of the facility.</p>

    <h3>Where can I contact the organizer with any questions?</h3>
    <p>You may contact the organziers <a href="/contact">here</a>.</p>

    <h3>Code of Conduct?</h3>
    <p>A code of conduct to encourage a safe and pleasent experience will be
    fully enforced during the course of this event. Our public policy is located
    <a href="/code">here</a>.</p>
</div>
