<div class="content">
<h2>Reid Burke</h2>
<a href="http://reidburke.com/">reidburke.com</a> - <a href="https://twitter.com/reid">@reid</a>

<h3>Hacking 101 - How to build a working thing!</h3>

<p>
<img src="https://pbs.twimg.com/profile_images/378800000464954829/182744c7b5f6b2c59e64f02c06905088.jpeg" vpsace="10" hspace="10">
More info coming soon!
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
