<div class="content">
<h2>Reid Burke</h2>
<a href="http://reidburke.com/">reidburke.com</a> - <a href="https://twitter.com/reid">@reid</a>

<h3>Hacking 101 - How to build a working thing!</h3>

<p>
<img src="/img/reid.jpg" vspace="10" hspace="10" align="right">

What's hacking? It's making something new by playing with
technology. Equipped with the right tools, you'll make the most of your
day. Learn about how to get started making websites, apps, even
real-world hardware prototypes. Not sure what's possible in a day? Get
inspired by what others have done at other hack days around the world.
</p>
<p>
I'm a software engineer at Yahoo returning to my hometown for its
first hackday. I help run workshops, present talks, and give advice to
participants at hack events around the world. I love to help others
solve problems with technology.
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
