<div class="content">
    <h2>Schedule of Events</h2>

    <p>
    We are currently still planning the schedule of events. We will update that here as we finalize plans.
    </p>

   <!--
    <ul>
        <li>Doors open at 9:30 am</li>
        <li>10:00 - 10:15 - Dav Glass - Opening</li>
        <li>10:15 - 10:40 - <a href="/schedule/reid">Reid Burke - Hacking 101</a></li>
        <li>10:45 - 11:10 - <a href="/schedule/steve">Steve Carrington - IlliniCloud</a></li>
        <li>11:15 - 11:40 - <a href="/schedule/skyler">Skyler Taylor - This is work.!?</a></li>
        <li>11:45 - 12:00 - <a href="/schedule/ellen">Ellen Jahn - War Stories from the Web Trenches</a></li>
        <li>12:00 - 12:30 - Lunch</li>
        <li>12:30 - 17:00 - HACKING</li>
        <li>17:00 - 17:30 - Dinner</li>
        <li>18:00 - 21:00 - MORE HACKING</li>
        <li>21:00 - 22:00 - Judging</li>
    </ul>
    -->
    <p><em>You are free to hack the entire time, you do not have to attend the talks.</em></p>

    <h2>Special Events</h2>
    <p>
    We are working on some awesome hardware/software/social hacks that will be available during the event. Stay tuned!
    </p>
    <!--
    <ul>
        <li>Arduino Hacking</li>
        <li>NodeCopter Flights/Lessons</li>
    </ul>
    -->
    <h2>Judges</h2>

    <p>We are selecting a few special judges for this event, check back later for more details.</p>

    <h2>The HackSI Code of Conduct</h2>

    <p>All delegates, speakers, sponsors and volunteers at any HackSI event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.
    <br>
    <a href="/code">[read more]</a>
    </p>


</div>

