<div class="content">
    <h2>Schedule of Events</h2>

    <p>
    We are currently still planning some parts, we will update that here as we finalize plans.
    </p>

    
    <ul>
        <li>Doors open at 9:30 am</li>
        <li>10:00 am - Dav Glass - Opening</li>
        <li>10:15 am - 10:40 am - <a href="/schedule/reid">Reid Burke - Hacking 101</a></li>
        <li>10:45 am - 11:10 am - <a href="/schedule/steve">Steve Carrington - IlliniCloud</a></li>
        <li>11:15 am - 11:40 am - <a href="/schedule/skyler">Skyler Taylor - This is work.!?</a></li>
        <li>11:45 am - 12:00 pm - TBD</li>
        <li>12:00 pm - 12:30 pm Lunch</li>
        <li>12:30 pm - 5:00 pm - HACKING</li>
        <li>5:00 pm - 5:30 pm - Dinner</li>
        <li>6:00 pm - 9:00 pm - MORE HACKING</li>
        <li>9:00 pm - 10:00 pm - Judging</li>
    </ul>

    <p><em>You are free to hack the entire time, you do not have to attend the talks.</em></p>

    <h2>Special Events</h2>

    <ul>
        <li>Arduino Hacking</li>
        <li>NodeCopter Flights/Lessons</li>
    </ul>

    <h2>Judges</h2>

    <p>We have selected a few special judges for this event, check back later for more details.</p>

    <h2>The HackSI Code of Conduct</h2>

    <p>All delegates, speakers, sponsors and volunteers at any HackSI event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.
    <br>
    <a href="/code">[read more]</a>
    </p>


</div>

