<div class="content">
    <h2>Schedule of Events</h2>

    <p>Schedule will be updated as info is released.</p>
    <p><em>You are free to hack the entire time, you do not have to attend the talks.</em></p>
    <p> Snacks will be available during the entire event.</p>

    <h3>Saturday, November 7th 2015</h3>
    <ul>
      <li>09:00 am - Doors open</li>
      <li>09:00 pm - Doors close</li>
    </ul>

    <h3>Sunday, November 8th 2015</h3>
    <ul>
      <li>09:00 am - Doors open</li>
      <li>09:00 pm - Doors close</li>
    </ul>

    <h2>Judges</h2>
<p>We are selecting a few special judges for this event, check back later for more details.</p>

    <h2>The HackSI Code of Conduct</h2>

    <p>All delegates, speakers, sponsors and volunteers at any HackSI event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.
    <br>
    <a href="/code">[read more]</a>
    </p>


</div>

