<div class="content">
    <h2>Schedule of Events</h2>

    <p>Schedule will be updated as info is released, you can also check out our <a href="/faq">FAQ for more information</a>.</p>
    <p><em>You are free to hack the entire time, you do not have to attend the talks.</em></p>
    <p>Snacks will be available during the entire event.</p>

<!--
    <h3>Saturday, November 7th 2015</h3>
    <ul>
      <li>09:00 am - Doors open</li>
      <li>09:30 am - Welcome Talk</li>
      <li>Hacking, demos &amp; lightning talks.</li>
      <li>12:00 pm - 1:00 pm Lunch</li>
      <li>Hacking, demos &amp; lightning talks.</li>
      <li>5:00 pm - 6:00 pm Dinner</li>
      <li>Hacking, demos &amp; lightning talks.</li>
      <li>09:00 pm - Doors close</li>
    </ul>

    <h3>Sunday, November 8th 2015</h3>
    <ul>
      <li>09:00 am - Doors open</li>
      <li>09:30 am - Welcome Talk</li>
      <li>Hacking, demos &amp; lightning talks.</li>
      <li>12:00 pm - 1:00 pm Lunch</li>
      <li>Hacking, demos &amp; lightning talks.</li>
      <li>5:00 pm - 6:00 pm Dinner</li>
      <li>Hacking, demos &amp; lightning talks.</li>
      <li>07:00 pm - Presentations &amp; Judging (depends on number of hacks)</li>
      <li>09:00 pm - Doors close</li>
    </ul>
-->

    <h2>Judges</h2>

    <p>We are selecting a few special judges for this event, check back later for more details.</p>

    <h2>Lightning Talks</h2>

    <p>Throughout the event we will be hosting brief lightning talks around the event hall. They will be 10-15 minute specialized talks on
    several technology related topics. Details will be available on the day of the event.</p>

    <h2>The HackSI Code of Conduct</h2>

    <p>All delegates, speakers, sponsors and volunteers at any HackSI event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.
    <br>
    <a href="/code">[read more]</a>
    </p>


</div>

