<div class="content">
    <h2>Schedule of Events</h2>

    <p><em>You are free to hack the entire time, you do not have to attend the talks.</em></p>
    <p>Snacks will be available during the entire event.</p>

    <h3>Saturday, November 5th 2016</h3>
    <ul>
        <li>08:00 am - Doors open</li>
        <li>09:00 am - Welcome Talk</li>
        <li>Hacking...</li>
        <li>12:00 pm - 1:00 pm Lunch</li>
        <li>02:00 pm - BigDog Supercomputing at SIU</li>
        <li>Hacking...</li>
        <li>05:00 pm - 6:00 pm Dinner</li>
        <li>06:00 pm - Brain-Computer Interfaces, Neurohacking, and Neurosecurity</li>
        <li>Hacking...</li>
        <li>08:00 pm - Doors close</li>
    </ul>

    <h3>Sunday, November 6th 2016</h3>
    <ul>
        <li>08:00 am - Doors open</li>
        <li>10:00 am - The "Single Source of Truth" and Web-Development</li>
        <li>Hacking...</li>
        <li>12:00 pm - 1:00 pm Lunch</li>
        <li>02:00 pm - Ultimate Gaming Championship</li>
        <li>Hacking...</li>
        <li>5:00 pm - 6:00 pm Dinner</li>
        <li>Hacking...</li>
        <li>06:00 pm - Presentations &amp; Judging</li>
        <li>08:00 pm - Doors close</li>
    </ul>

    <h2>Judges</h2>

    <p>We are selecting a few special judges for this event, check back later for more details.</p>

    <h2>The HackSI Code of Conduct</h2>

    <p>All delegates, speakers, sponsors and volunteers at any HackSI event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.
    <br>
    <a href="/code">[read more]</a>
    </p>


</div>

