<div class="content">
    <h2>Schedule of Events</h2>

    <p><em>You are free to hack the entire time, you do not have to attend the talks.</em></p>
    <p> Snacks will be available during the entire event (Thanks <a href="http://liaison.com/" target="_blank">Liaison</a>!)</p>

    <h3>Friday, January 30th 2015</h3>
    <ul>
      <li>Doors open at 5:00 pm</li>
      <li>06:15 pm - 06:25 pm - William Blankenship - Opening</li>
      <li>06:25 pm - 06:45 pm - <a href="/schedule/packer">Jeremy Packer - Innovation in Southern Illinois</a></li>
      <li>06:45 pm - 07:05 pm - TBA</li>
      <li>07:05 pm - 07:25 pm - <a href="/schedule/schneider">Zach Schneider - Remote Teams: Bringing opportunities to Southern Illinois</a></li>
      <li>07:30 pm - 08:00 pm - Dinner (Thanks <a href="http://www.littlecaesars.com/" target="_blank">Little Caesars</a> and <a href="https://twitter.com/davglass" target="_blank">@davglass</a>!)</li>
      <li>08:00 pm - 12:00 am - HACKING</li>
    </ul>
    <h3>Saturday, January 31st 2015</h3>
    <ul>
      <li>12:00 am - 07:00 am - MORE HACKING</li>
      <li>07:00 am - 07:30 am - Breakfast (Thanks <a href="http://www.greplytix.com/" target="_blank">greplytix</a>!)</li>
      <li>07:30 am - 12:00 pm - MORE HACKING</li>
      <li>12:00 pm - 12:30 pm - Lunch (Thanks <a href="http://www.greplytix.com/" target="_blank">greplytix</a>!)</li>
      <li>12:30 pm - 06:00 pm - EVEN MORE HACKING</li>
      <li>06:30 pm - 07:00 pm - Dinner (Thanks <a href="http://www.littlecaesars.com/" target="_blank">Little Caesars</a> and <a href="https://twitter.com/davglass" target="_blank">@davglass</a>!)</li>
      <li>07:00 pm - 07:30 pm - MORE HACKING</li>
    </ul>
    <h3>Sunday, February 1st 2015</h3>
    <ul>
      <li>12:00 am - 07:00 am - MORE HACKING</li>
      <li>07:00 am - 07:30 am - Breakfast (Thanks <a href="http://www.greplytix.com/" target="_blank">greplytix</a>!)</li>
      <li>07:30 am - 11:30 am - MORE HACKING</li>
      <li>11:30 am - 12:00 pm - Lunch (Thanks <a href="http://www.littlecaesars.com/" target="_blank">Little Caesars</a> and <a href="https://twitter.com/davglass" target="_blank">@davglass</a>!)</li>
      <li>12:00 pm - 03:00 pm - TIME TO FINISH UP HACKS!</li>
      <li>03:00 pm - 04:30 pm - Demonstrations begin!</li>
      <li>04:30 pm - 05:15 pm - Judging</li>
      <li>05:15 pm - 06:00 pm - Winners Announced, Prizes awarded!</li>
    </ul>


    <h2>Judges</h2>
<p>We are selecting a few special judges for this event, check back later for more details.</p>

    <h2>The HackSI Code of Conduct</h2>

    <p>All delegates, speakers, sponsors and volunteers at any HackSI event are required to agree with the following code of conduct. Organizers will enforce this code throughout the event.
    <br>
    <a href="/code">[read more]</a>
    </p>


</div>

