<div class="content">
<h2>Zach Schneider</h2>
<a href="http://schneidmaster.com/">schneidmaster.com</a> - <a href="https://twitter.com/schneidmaster">@schneidmaster</a>

<h3>Remote Teams: Bringing Opportunities to Southern Illinois</h3>

<p>
<img src="/img/schneider.jpg" vspace="10" hspace="10" align="right" width="200px">
Remote teams have exploded in popularity among startups, and for good reason: they benefit employers, hackers, and the tech community. Learn about how remote teams are structured, the tools they use, the ways they are shaping the future of the tech industry, and how to find work with a remote employer.
</p>
<p>
I'm a senior computer science major at SIU and a Rails engineer at Aha!, the world's #1 product roadmapping software and a profitable startup with a fully remote teams. I love hacking for the web and I'm passionate about the future of remote teams in the tech industry.
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
