<div class="content">
<h2>Skyler Taylor</h2>
<a href="http://www.skylerraytaylor.com/">www.skylerraytaylor.com</a> - <a href="https://twitter.com/SkylerRayTaylor">@SkylerRayTaylor</a>

<h3>Title: This is work.!?</h3>


<p>
<img src="https://pbs.twimg.com/profile_images/3495125561/3c1a1401e86b629b7532fe970a02f0c3.jpeg" align="left" vspace="10" hspace="10">
Choosing the work you do today so that you get the work you want tomorrow.<br><br>
I am the graphic designer/creative director at Vine Church. I have the incredible good fortune to get to design & illustrate for a living, and I get to do so at a place where I feel my contribution is personally meaningful. In my spare time, I enjoy working on thoughtful design projects and collaborating with entrepreneurs.

</p>

<p><em>Skyler is also responsible for our site design!</em></p>

<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>

</div>
