<div class="content">

<p>Our sponsorship request is now closed, feel free to contact us at <a href="mailto:sponsors@hacksi.me">sponsors@hacksi.me</a>
if you wish to be added to the list for our next event.</p>

<p>Past levels can be <a href="/sponsors/levels">found here</a>.</p>

</div>
