<div class="content">
<h2>HackSI Sponsorship Levels</h2>


<h3>10 GB package - $1000*</h3>
<ul>
    <li>Large Logo on Shirts</li>
    <li>Large Logo on Posters</li>
    <li>Large Logo on Website</li>
    <li>Website linked from Website</li>
    <li>Logo on all other Promotional material</li>
    <li>If we do a TV interview, named sponsor</li>
    <li>Two people from sponsor allowed to “recruit” at event </li>
</ul>

<h3>7.5 GB package - $750*</h3>
<ul>
    <li>Normal Logo on Shirts</li>
    <li>Normal Logo on Posters</li>
    <li>Normal Logo on Website</li>
    <li>Website linked from Website</li>
    <li>If we do a TV interview, named sponsor</li>
    <li>One person from sponsor allowed to “recruit” at event</li>
</ul>


<h3>5 GB package - $500*</h3>
<ul>
    <li>Small logo on Shirts</li>
    <li>Small logo on Posters</li>
    <li>Small logo on Website</li>
</ul>


<h3>1 GB package - $100*</h3>
<ul>
    <li>Small logo on Posters</li>
    <li>Name listed on Website</li>

</ul>

<h3>500 MB package - $50*</h3>
<ul>
    <li>Name listed on Promotional items</li>
    <li>Name listed on Website</li>
</ul>


<em>*Equal Purchase: The sponsor instead of donating cash will donate the purchase of a needed event item. Examples: Food, Drinks, Shirts, Posters</em>

<p>
If you are interested in sponsoring the event, please email us at: <a href="mailto:sponsors@hacksi.me">sponsors@hacksi.me</a>
</p>

<p>We are only accepting a limited number of cash donations via PayPal, all others should be in the form of supplies.</p>

<h3>Things still needed</h3>

<ul>
    <li>Printed Lanyards (and their sleeves)</li>
    <li>Lunch*</li>
    <li>Drinks*</li>
    <li>Dinner*</li>
    <li>Snacks for the day</li>
    <li>Goodies for the goodie bags (usually stickers from sponsors)</li>
</ul>

<em>*We have potienials lined up for this, but they are still pending.</em>

</div>
