<div class="pure-g">
    <div class="pure-u-1-2"></div>
    <div class="pure-u-1-2 print"><a href="/sponsors/letter/print"><img src="/img/print.png"> Print This Page</a></div>
</div>
<div class="content">
{{>letter}}
</div>
