<div class="content">

<p>We have sponsorship tiers available. If you want to be part of this awesome hackathon, reach out to us at <a href="mailto:sponsors@hacksi.me">sponsors@hacksi.me</a>.</p>

<p>Sponsorship levels can be <a href="/sponsors/levels">found here</a>.</p>

</div>
