<div class="content">
    <p>Take a selfie with a badge showing and add it to Twitter, Facebook, or Instagram with the hashtag #hacksi.</p>
    <h2>Earning Points</h2>
    <ul>
        <li>1 point selfie with a hacker and badges</li>
        <li>3 points selfie with a volunteer</li>
        <li>5 points selfie with @davglass (while mobile)</li>
        <li>No duplicates: Only the one that posts gets the points</li>
    </ul>
    <h2>Extra Points</h2>
    <ul>
        <li>Groups: Highest point +1 per person in the group</li>
        <li>Double Points:</li>
        <ul>
            <li>Selfie taken from drone</li>
            <li>Selfie taken with the "special goodie bag"</li>
        </ul>
    </ul>
    <h2>Times</h2>
    <ul>
        <li>Only during the event hours</li>
        <li>We will start collecting points at 4pm on Sunday</li>
    </ul>
</div>
