<div class="content">
<h2>Steve Carrington</h2>
<a href="http://www.illinicloud.org/">www.illinicloud.org</a> - <a href="http://www.cusd186.org/">www.cusd186.org</a> - <a href="https://twitter.com/cusd186">@cusd186</a>

<h3>IlliniCloud - The Sustainable Computing Platform for Illinois P-20</h3>

<p>This talk with explain how the IlliniCloud came about and what we are doing to help school districts and other non-for-profits by providing robust cloud based resources at very low costs.</p>

<p>
Steve Carrington is the Chief Information Officer at Murphysboro School District and also the fiscal agent for the IlliniCloud.  Steve has worked in education for the past 20 years, starting as a middle school teacher, moving to the technology coordinator position and for the last 5 years serving as the Chief Information Officer at Murphysboro Schools.  He serves on the IlliniCloud board as the district appointed consortium board member and works with the IlliniCloud clients and contractors on a daily basis.
</p>
<p>&nbsp;</p>

<p><a href="/schedule">[back to schedule]</a></p>
</div>
