<div class="content">
    <h2>HackSI Wallpaper</h2>
    <p>Here is a small sampling of the wallpaper that we have for your use.
    Head on over to <a href="https://downloads.hacksi.org/">https://downloads.hacksi.org/</a> and download any of them that you want.</p>
    <p>We tried to cover a wide range of sizes and devices. If you don't see one that fits your device, 
    <a href="https://twitter.com/usernameerror3">tweet out to Alex</a> and he can make it happen!</p>

    <div class="pure-g">
        <div class="pure-u-1-2"><center><a href="https://downloads.hacksi.org/2018/"><img src="/static/img/wallpaper/2018-pg-top.jpg"></a></center></div>
        <div class="pure-u-1-2"><center><a href="https://downloads.hacksi.org/2018/"><img src="/static/img/wallpaper/2018-rgb-top.jpg"></a></center></div>
		
        <div class="pure-u-1-2"><center><a href="https://downloads.hacksi.org/2018/"><img src="/static/img/wallpaper/2018-pg-center.jpg"></a></center></div>
        <div class="pure-u-1-2"><center><a href="https://downloads.hacksi.org/2018/"><img src="/static/img/wallpaper/2018-rgb-center.jpg"></a></center></div>
		
        <div class="pure-u-1-2"><center><a href="https://downloads.hacksi.org/2018/"><img src="/static/img/wallpaper/2018-pg-bottom.jpg"></a></center></div>
        <div class="pure-u-1-2"><center><a href="https://downloads.hacksi.org/2018/"><img src="/static/img/wallpaper/2018-rgb-bottom.jpg"></a></center></div>
	</div>
    <p>Images provided by <a href="https://twitter.com/usernameerror3" target="_blank">Alex Fleming</a>.</p>
</div>
