<div id="chicken-dinner">

    <iframe width="560" height="315" src="https://www.youtube.com/embed/8ybW48rKBME?autoplay=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
