/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
    background-color: #DEE7F0;
    color: #526066;
}

h2, h3 {
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 600;
}

.pure-menu.pure-menu-open {
    background-color: #DEE7F0;
}

p {
    line-height: 1.6em;
}

a {
    color: #CD3B48;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.pure-menu li a:hover, .pure-menu li a:focus {
    background-color: #062440;
    color: #DEE7F0;
}
.pure-menu.pure-menu-open.pure-menu-fixed {
    border-bottom: 0px;
}

/*
 * -- Layout Styles --
 */
.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em 0.5em 2em;
    margin: 0.5em 0 0 0;
}

/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */
.pure-menu {
    box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */
.banner {
    text-align: center;
    background-size: cover;
    height: 280px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
    background-color: #062440;
    color: white;
}

.banner-head {
    width: 60%;
    vertical-align: middle;
    margin-bottom: 0;
    margin: auto auto;
    margin-top: 3em;
}

.banner-head a {
    color: white;
}

.banner-head h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}



/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
 .pricing-tables,
 .information {
    max-width: 980px;
    margin: 0 auto;
 }
.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-free .pricing-table-header {
    background: black;
}

.pricing-table-biz .pricing-table-header {
    background: #CD3B48;
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
    background: #062440;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
    .pricing-table-header h2 {
        margin: 0;
        padding-top: .5em;
        font-size: 2em;
        font-weight: bold;
    }
    .pricing-table-header p {
        padding: .5em;
    }


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    font-size: 1em;
    display: block;
    text-align: center;
    margin: 0.2em 0 1.2em 0;
    padding-bottom: 0.4em;
    font-weight: 100;
}
    .pricing-table-price span {
        display: block;
        text-transform: uppercase;
        font-size: 0.2em;
        padding-bottom: 2em;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.5);
        *color: #fff;
    }



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */
.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    padding: 0.5em 2em 0.5em;
    background: #062440;
    color: #888;
}
    .footer a {
        color: #ddd;
    }



/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */
@media(max-width: 767px) {

    .banner-head {
        font-size: 2em;
    }
    .pricing-table {
        margin-bottom: 2em;
    }

}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */
@media (max-width: 480px) {
    .banner {
        height: 200px;
    }
    .banner-head {
        font-size: 1em;
    }
}


/*
HACK SI
*/

h2.title {
    text-align: center;
}

.sponsors {
    width: 80%;
    margin: auto auto;
}

.pure-button {
    background-color: #CD3B48;
}

.content {
    margin: 1em;
}

.social {
    text-align: right;
}

.social a {
    text-decoration: none;
}
.social a:hover: {
    color: #CD3B48;
}
.social a span {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.second h2 {
    font-size: 1em;
}
